*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font: inherit;
    color: hsl(0, 0%, 80%);
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body>* {
    width: 100%;
}

a {
    color: hsl(0, 0%, 40%);
    text-decoration: none;
}

a:hover {
    color: hsl(0, 0%, 30%);
}

header,
footer {
    background-color: hsl(213, 31%, 6%);
    padding-block: 20px;
    text-align: center;
}

footer{
    padding-bottom: 0;
}

h1 {
    font-size: 42px;
    text-align: center;
    margin-bottom: 10px;
}

h2 {
    font-size: 24px;
    text-align: center;
    margin: 15px;
}

footer p {
    font-size: 12px;
    margin-bottom: 5px;
}

main {
    background-color: hsl(216, 18%, 20%);
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 20px;
}

.howToPlay {
    border: 2px solid hsl(213, 31%, 6%);
    padding: 15px;
    margin-bottom: 50px;
}

.howToPlay ol {
    margin-left: 20px;
}

.howToPlay ul {
    margin-left: 45px;
    list-style: disc;
    font-size: 14px;
    margin-block: 5px;
}

.game {
    display: flex;
    flex-direction: column;
}

.choices {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5vw;
}

.icon {
    background-color: hsl(216, 29%, 10%);
    border: 1px solid black;
    text-align: center;
    padding: 10px;
    border-radius: 25px;
    cursor: pointer;
}

.icon:hover{
    background-color: hsl(216, 29%, 15%);
}

img {
    width: 150px;
    height: 150px;
}

.round {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.versus {
    font-size: 4em;
}

.computerChoice,
.playerChoice {
    background-color: hsl(216, 29%, 10%);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 25px;
    height: 200px;
    width: 200px;
}

.result {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-size: 20px;
}

.hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

button{
    cursor: pointer;
    background-color: hsl(216, 29%, 10%);
    padding: 10px;
    font-size: 24px;
    border: 2px solid black;
    border-radius: 10px;
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hsla(0, 0%, 0%, 0.4);
}

.restartMsg{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    position: fixed;
    top: calc(50% - 100px);
    left: calc(50% - 125px);
    height: 200px;
    width: 250px;
    background-color: hsl(216, 18%, 16%);
    border-radius: 25px;
    border: 2px solid black;
}